#production2 {
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    border-top: solid 5px black;
}

#production2button {
    background-color: black;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

#progress2 {
    background-color: white;
    border: solid 1px magenta;
    border-radius: 10px;
    border-top: solid 5px magenta;
}

#progress2button {
    background-color: magenta;
}

#ready2 {
    background-color: white;
    border: solid 1px cyan;
    border-radius: 10px;
    border-top: solid 5px cyan;
}

#review2 {
    background-color: white;
    border: solid 1px yellow;
    border-radius: 10px;
    border-top: solid 5px yellow;
}

#review2button {
    background-color: yellow;
}

#ready2,
#progress2,
#review2,
#production2 {
    height: 300px;
    position: absolute;
    width: 300px;
}

#ready2button {
    background-color: cyan;
}

#ready2button,
#progress2button,
#review2button,
#production2button {
    cursor: pointer;
    height: 20px;
    width: 20px;
}
