* {
    font-family: 'Google Sans Flex';
    margin: 0px;
    padding: 0px;
}



:root {
    --color-nav: #fffc4b55;
    --color-nav-focus: #fffb0a55;
}

@font-face {
    font-family: texts;
    src: url(../fonts/RedHatDisplay-Regular.ttf);
}

@keyframes animotion {
    0% {
        background-position: 50% 50%;
    }

    25% {
        background-position: 20% 50%;
    }

    50% {
        background-position: 50% 50%;
    }

    75% {
        background-position: 70% 50%;
    }

    100% {
        background-position: 50% 50%;
    }
}

@media (width < 600px) {
    main {
        display: flex;
        justify-content: center;
    }
}

#cloudtags {
    align-items: start;
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 90vw;
}

#cloudtag {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50px;
}

#cloudnav {
    width: 50px;
}

#layer {
    display: flex;
    gap: 310px;
    height: 100px;
    width: 100px;
}

#layer-documentation {
    display: flex;
    height: 300px;
    width: 300px;
}

#layer-figma {
    display: flex;
    height: 300px;
    width: 300px;
}

#layer-github {
    display: flex;
    height: 300px;
    width: 300px;
}

#layer-postgresql {
    display: flex;
    height: 300px;
    width: 300px;
}

#layer-springboot {
    display: flex;
    height: 300px;
    width: 300px;
}

#layer-thymeleaf {
    display: flex;
    height: 300px;
    width: 300px;
}

#layer-trello {
    display: flex;
    height: 300px;
    width: 300px;
}

#layers {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
}

#production1 {
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    border-top: solid 5px black;
}

#production1button {
    background-color: black;
}

#progress1 {
    background-color: white;
    border: solid 1px magenta;
    border-radius: 10px;
    border-top: solid 5px magenta;
}

#progress1button {
    background-color: magenta;
}

#progress1button,
#production1button,
#ready1button,
#review1button {
    cursor: pointer;
    height: 20px;
    width: 20px;
}

#ready1 {
    background-color: white;
    border: solid 1px cyan;
    border-radius: 10px;
    border-top: solid 5px cyan;
}

#ready1button {
    background-color: cyan;
}

#ready1,
#progress1,
#production1,
#review1 {
    height: 300px;
    position: absolute;
    width: 300px;
}

#review1 {
    background-color: white;
    border: solid 1px yellow;
    border-radius: 10px;
    border-top: solid 5px yellow;
}

#review1button {
    background-color: yellow;
}

#tagcloud {
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 310px;
    position: relative;
}

h3 {
    margin: 20px;
}

header {
    background-color: whitesmoke;
    border-bottom: solid 1px black;
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 0px 20px;
}

header div {
    display: flex;
    justify-content: flex-end;
}

.icon-rightChevron {
    width: 15px;
    opacity: 0.5;
    transform-origin: 50% 50%;
    transition: all ease-in-out 100ms;
    cursor: pointer;
    transform: rotate(180deg);
}

.link {
    background-color: var(--color-nav);
    border: solid 1px black;
    border-radius: 5px;
    cursor: pointer;
    font-family: texts;
    height: 50px;
    margin: 10px;
    padding: 10px;
}

.link:hover {
    background-color: var(--color-nav-focus);
}

.listHeader {
    border-bottom: solid 1px black;
    font-size: 15pt;
    font-weight: bold;
    list-style: none;
    margin-bottom: 25px;
    margin-right: 25px;
}

.logo {
    height: 70px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px;
}

.navelements {
    animation: animotion 3s ease-in-out infinite;
    background: linear-gradient(270deg, orange, violet);
    background-size: 200% 200%;
    border-radius: 50%;
    height: 20px;
    transition: transform 3s;
    width: 20px;
}
.navtexts {
    display: none;
}

ul {
    height: 250px;
    margin: 20px 20px 0px 30px;
    overflow-y: auto;
}