:root {
    --color-nav: #fffc4b55;
    --color-nav-focus: #fffb0a55;
}

@font-face {
    font-family: texts;
    src: url(../fonts/RedHatDisplay-Regular.ttf);
}

* {
    font-family: texts;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: whitesmoke;
    border-bottom: solid 1px black;
    padding: 0px 20px;
}

nav div {
    display: flex;
    justify-content: flex-end;
}

.link {
    background-color: var(--color-nav);
    border-radius: 5px;
    height: 50px;
    border: solid 1px black;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}

.simplelink {
    background-color: none;
    height: 50px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}

.link:hover {
    background-color: var(--color-nav-focus);
}

body {
    margin: 0px;
}

#splash {
    place-content: center center;
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
}

#splashlogo {
    width: 600px;
}


#cloudtag {
    display: flex;
}